<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157627197080-9bv5hrpqrdq83sa2tmg24023r4i81kv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157627197080-9bv5hrpqrdq83sa2tmg24023r4i81kv3</string>
	<key>API_KEY</key>
	<string>AIzaSyA6I8hW3fA7ZPAXnijEJ0JVx32hiPCjDWs</string>
	<key>GCM_SENDER_ID</key>
	<string>157627197080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demo.demo1</string>
	<key>PROJECT_ID</key>
	<string>appday-611d0</string>
	<key>STORAGE_BUCKET</key>
	<string>appday-611d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157627197080:ios:8e99863ef2ec19f1e492ed</string>
</dict>
</plist>